# TOML File Format https://github.com/toml-lang/toml
# Stored in the root of a project directory

# Reading in Python 3     https://docs.python.org/3/library/configparser.htm
# Reading in R            https://cran.r-project.org/web/packages/ConfigParser/index.html


[DEFAULT]
# For default configurations

